body {
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
    font-size: larger;
}

.container{
    width: 50%;
    font-size: 6px;
    text-align: center;
}