body {
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
    font-size: larger;
    text-align: center;
}

.header{
    text-align: left;
    font-size: 10px;
    width: 50%;
    border-radius: 1px;
    background-color: cadetblue;
}
